{% extends "layout.html" %}

{% block title %}Web Sockets{% endblock %}

{% block body %}

<div class = 'super'>
<div class = 'container'>

<div id = 'box1'>
<p  id = 'heading'></p>
<div id = "messages"></div>
<div id = "display">
</div>
</div>

<div id = 'box2'>
<div id = "menu">
<button id = "create_channel" class = "collapsible">New Channel</button>
<div>
  <form id = "channel_form">
    <input type = "text">Channel Name</input>
  </form>
  <button class = "back_button">Go Back</button>
</div>
<button id = "select_channel" class = "collapsible">Select Channel</button>
  <div>
    <div id = "list"></div>
    <button class = "back_button">Go Back</button>
  </div>
</div>
<button id = "clear">Clear All</button>
</div>

</div>
</div>
{% endblock %}
